<!DOCTYPE html>
<html lang="en">

<head>
<title> Border Aid </title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../../style/main-style.css">
<link rel="stylesheet" media='(orientation: portrait) or (pointer: coarse) or (max-width: 1000px)' href="../../style/mobile.css"/>
<link rel="stylesheet" media='not ((orientation: portrait) or (pointer: coarse) or (max-width: 1000px))' href="../../style/desktop.css"/>

</head>

<body>

<header>
<h1>If You Go to the Hospital</h1>

<nav>
<a id="skip-to-content" title="Skip to main content" href="#main-content">Skip to main content</a>

<a id="home-btn" target="_self" href="../../index.html"></a>

<a id="oads-btn" target="_self"></a>

<a id="airport-btn" target="_self"></a>

<a id="old-town-btn" target="_self"></a>

<a id="legal-resource-btn" target="_self"></a>

</nav>

</header>

<main id="main-content">


</main>

</body>

</html>