
main {
    margin: 5rem;
    width: 90%;
}

.qr-code {
    width: 20em;
}

#ichh-eps.grid-container , #lltwid-podcast-eps.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#ichh-eps.grid-container .grid-item, #lltwid-podcast-eps.grid-container .grid-item {
    padding: 1rem;
}


#moon-yurt-gallery {
    width: 60%;
}

.blueprints img {
    width: 60%;
}

#dalal-cover {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#moon-yurt-build, #recommended-shelter-reading {
    margin: 2rem;
}

#jacumba-supplies-gsheet {
    height: 20rem;
    width: 90%;
}

.general-flyer {
    width: 80vw;
    height: 95vh;
    background-color: #FFFFFF;
}

.border-aid-letter {
    width: 45vw;
    height: 95vh;
    background-color: #FFFFFF;
}

#letters {
    display: flex;
}

#letters article {
    margin-right: 1rem;
}

.photo-slide img {
    width:80%;
}

#radiolab-podcast-eps.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; 
}

#radiolab-podcast-eps .grid-item {
    padding: 1rem;
}

.radiolab-podcast-player {
    width: 100%;
}

#youtube-gallery.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;  
}

#youtube-gallery .grid-item {
    padding: 1rem;
    height: 50vh;
}


.youtube-embed {
    width: 95%;
    height: 80%;
}

.joe-photo-slideshow.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr); 
    height: 80%;
}

.joe-photo-slideshow #photo-container {
    grid-area: 1 / 2 / 6 / 5;
}

.joe-photo-slideshow #back-btn {
    grid-area: 3 / 1 / 4 / 2;
}

.joe-photo-slideshow #fwd-btn {
    grid-area: 3 / 5 / 4 / 6;
}