
#ichh-eps.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#ichh-eps.grid-container .grid-item {
    padding: 1rem;
}

#moon-yurt-gallery {
    width: 60%;
}

.blueprints img {
    width: 60%;
}

#dalal-cover {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#moon-yurt-build, #recommended-shelter-reading {
    margin: 2rem;
}