/* Screenreader Navigation Feature in Navigation Bar */
a#skip-to-content {
    font-size: 0vh;
	position: absolute;
	top:-40px;
	left:0px;
	-webkit-transition: top .5s ease-out;
    transition: top .5s ease-out;
    z-index: 100;
}

a#skip-to-content:focus {
	position:absolute;
	left:0px;
	top:0px;
	outline-color:transparent;	
	-webkit-transition: top .05s ease-in;
    transition: top .05s ease-in;
}

@media (prefers-reduced-motion: reduce) {
	a#skip-to-content {
		transition-duration: 0.001ms !important;
	}
}
/* fin */



body{
    font-family: Helvetica, sans-serif;
    background-color: #111111;
    color: #B3EFFF;
  }
  
h1, h3, h5 {
    color: #00CFFF;
}

h2, h4, h6 {
    color: #00CFFF;
}

a {
    color: #FFE46D;
    text-decoration: none;
}

a:hover {
    color: #FF6DDF;
    text-decoration: underline overline #FF6DDF;
}

.rtl-text {
    direction: rtl;
}

header, footer {
    margin: 3rem;
}

nav button:hover {
    background-color: #FFE46D;
    color: #111111;
}

nav a:hover {
    text-decoration: none;
}

button {
    background-color: #FF6DDF;
    color: #111111;
    font-family: inherit;
    padding: 0.5em;
    border-radius: 2em;
    border: 0.1em solid #FF6DDF;
    margin: 0.3em;
    font-weight: bolder;
}

main {
    margin: 5rem;
}

.logo {
    margin: 1rem;
    width: 5rem;
    vertical-align: middle;
}

section {
    max-width: 100vw;
}

.medium-pic {
    object-fit: contain;
    max-height: 40vh;
    margin: 1rem;
}

.medium-figure {
    text-wrap: wrap;
}

.map {
    object-fit: contain;
    /*max-width: inherit;*/
    max-width: 100%;
    width: 100%;
    margin:1rem;
}

.spotify-widget {
    border-radius:12px;
}


#joe-orellana-photos .photo-slide {
    display:none;
}

.joe-photo-slideshow.grid-container .grid-item {
    padding: 1rem;
}

.joe-photo-slideshow.grid-container img {
    object-fit: contain;
}

#language-directory li{
    font-size: x-large;
}

.download-btn {
    background-color: #FF6DDF;
    border-radius: 50px;
    width: 20%;
    text-align: center;
}

.download-btn:hover {
    background-color: #FFE46D;
}

.download-btn img {
    margin: 1rem;
    object-fit: contain;
}

#articles li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#moon-yurt-gallery {
    margin: 2rem auto; 
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; 
  }

  #moon-yurt-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }

  #moon-yurt-gallery #pic-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  #moon-yurt-gallery #pic-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  #moon-yurt-gallery #pic-3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
  }
  
  #moon-yurt-gallery #pic-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
  }
  
  #moon-yurt-gallery #pic-5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  
  #moon-yurt-gallery #pic-6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
