.qr-code {
    object-fit: scale-down;
    width: 100%;
    max-width: 30em;
}


#moon-yurt-gallery {
    width: 90%;
}

.blueprints img {
    width: 100%;
}

#dalal-cover {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#moon-yurt-build, #recommended-shelter-reading {
    margin: 2rem;
}

main {
    margin: 1rem;
    width: 90%;
}

.youtube-embed {
    width: 90%;
}

.general-flyer {
    width: 100%;
    height: 90vh;
    background-color: #FFFFFF;
}

.youtube-gallery .grid-item {
    padding: 1rem;
}

.youtube-embed {
    width: 95%;
    height: 50vh;
}

.joe-photo-slideshow.grid-container {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    margin-bottom: 5rem;

    overflow: scroll;
    scrollbar-color: #FFE46D #B3EFFF;
    scrollbar-width: auto;
}

img.joe-photo {
    object-fit: scale-down;
    width: 100%;
}

blockquote.joe-caption {
    font-size: smaller;
    height: 30vh;
}

#back-btn, #fwd-btn {
    width: 30%;
}

.border-aid-letter {
    width: 90vw;
    height: 95vh;
    background-color: #FFFFFF;
}

#jacumba-supplies-gsheet {
    height: 20rem;
    width: 90%;
}